{% extends 'main/baze.html' %}
{% block title%}
    {{title}}
{% endblock %}
{% block content%}
    <header class="header-bg justify-center ">
        <div class="container ">

        </div>
        <div class="container justify-center">
            <div class=" row justify-content-center">
            <div class="container">
            <h1 class="text-center mb-9">ABOUT ME</h1>
                <p>Добро пожаловать на мою страницу портфолио! Здесь вы можете ознакомиться с
                моими лучшими работами, а также узнать больше о моем опыте и навыках. Я с
                нетерпением жду возможности сотрудничать с вами и помочь
                вам воплотить ваши идеи в реальность. Давайте создавать вместе!
                </p>
                </div>
            <div class="col-3.5">
                      <a href="{%url 'home'%}" class="btn btn-success" aria-current="page">Главная страница</a>
                      <a href="{%url 'contact'%}" class="btn btn-success">Связаться со мной</a>
                    </div>



            </div>



            </div>
            </div>
        </div>

    </header>
    <section class="justify-center header-bg mt-5">
        <div class="container">
            <h2 class="title">Что я умею делать</h2>
            <p>
                Я уже умею создавать телеграмм-ботов. Так же я имею базовые знания в создании сайтов.

            </p>
        </div>

    </section>
    <section class="justify-center header-bg mt-5">
        <div class="container">
            <h2>Мои работы</h2>
            <div class="row">
               {% if post %}
                    {% for el in post %}
                        <div class="col-3">
                            <div class="card bg-light-l mb-3">
                                {% if el.img_work %}
                                    <img src="{{ el.img_work.url }}" class="card-img-top" alt="...">
                                {% else %}
                                    <img src="/static/main/img/img_2.png" class="card-img-top" alt="...">
                                {% endif %}
                                <div class="card-body">
                                    <h5 class="card-title">{{ el.title_work }}</h5>
                                    <p class="card-text">{{ el.time_update }}</p>
                                    <p class="card-text"><small class="text-body-secondary">{{ el.date }}</small></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <h2 class="mt-5">Работ нет</h2>
                {% endif %}

            </div>
        </div>

    </section>
{% endblock %}
{% include 'main/footer.html'%}