{% extends 'main/baze.html' %}
{% block title%}
    {{title}}
{% endblock %}
{% block content%}
<section class="justify-center row ">
    <div class="container ">
    <div class="col-6">
    <form id="comment-form" method="post" class="justify-content-between">
        {% csrf_token %}
        {{form.title}}<br>
        {{form.text}}<br>
        <span>{{error}}</span>
        <button type="submit" class="btn btn-success mb-4" >Добавить</button>
        </form>
    </div>
    </div>

</section>

{% endblock %}