  <footer class="footer mt-auto py-3 bg-light-l">
    <div class="container text-center row justify-content-between">
        <div class="col-12">
                      <a href="{%url 'about'%}" class="btn btn-success" aria-current="page">Подробнее обо мне</a>
                      <a href="{%url 'contact'%}" class="btn btn-success">Связаться со мной</a>
                    </div>
        <div class="col-12">
            <h1>© 2023-2024 My Portfolio</h1>
        </div>

        <div class="col-12">
            <p>
                Спасибо что ознакомились с моим сайтом. Весь код находится на
                <a href="https://github.com/kirillizo3495/site-portfolio.git">GitHub</a>
                {% if user.is_staff %}

                {% endif %}
            </p>
        </div>
    </div>
  </footer>

