  <footer class="footer mt-auto py-3 bg-light-l">
    <div class="container text-center row justify-content-between">

        <div class="col-5">
            <h5>© 2023-2024 My Portfolio</h5>
        </div>
        <div class="col-5">
            <p>
                Спасибо что ознакомились с моим сайтом. Весь код находится на
                <a href="https://github.com/RussianFoxBryansk/site-portfolio">GitHub</a>
                <a href="{%url 'create'%}">.</a>
                <a href="{%url 'work_create'%}">.</a>
        </div>
    </div>
  </footer>

