{% extends 'main/baze.html' %}
{% block title%}
    {{title}}
{% endblock %}
{% block content%}


  <div class="container adaptive-text">
    <div class="row justify-content-between">
        <div class="col-8">
            <h1 class="text-center mb-9">Изотов Кирилл</h1>
            <p>Добро пожаловать на мою страницу портфолио. Здесь вы можете ознакомиться с
                моими сделанными работами, а также узнать больше о моем опыте и навыках.</p>
        </div>
        <div class="col-5">
            <div class="container justify-content-between ">

            </div>
        </div>

        <div class="row justify-content-between">


            <div class="col-6 row justify-content-center ">
                {% for el in data.post %}

                    <div class="card border-success mb-3 card--blur" >
                      <div class="card-header bg-transparent border-success">{{el.title}}</div>
                      <div class="card-body text-success">
                        <p class="card-text">{{el.text}}</p>
                      </div>
                    </div>

                {% endfor %}
            </div>







            <div class="col-8">
                <h1>Кратко обо мне:</h1>
                <p>Я-Кирилл. Начинающий python-программист. Окончил 1 год программирования на python в IT-CUBE.
                Сейчас активно изучаю фреймворк Django.</p>
            </div>
        </div>


            <h2>Дальнейшие цели</h2>
            <p>В дальнейшем я планирую учиться
                в области дизайна и разработки, чтобы стать более профессиональным специалистом.</p>
    </div>




{% endblock %}