{% extends 'main/baze.html' %}
{% block title%}
    {{title}}
{% endblock %}
{% block content%}

  <div class="container adaptive-text">
    <div class="row justify-content-between">
        <div class="col-7">
            <h1>Welcome to my portfolio</h1>
            <p>This is where I showcase my work and projects.</p>
        </div>
        <div class="col-5">
            <div class="container justify-content-between ">
                <img src="static/main/img/img_1.png" alt="">
            </div>
        </div>
    </div>
    <div class="container mt-3 adaptive-text">
        <div class="row justify-content-between">


            <div class="col-6 row justify-content-between ">
                {% for el in data.post %}
                <div class="col-6">
                    <div class="card border-success mb-3 card--blur" >
                      <div class="card-header bg-transparent border-success">{{el.title}}</div>
                      <div class="card-body text-success">
                        <h5 class="card-title">дата публикации</h5>
                        <p class="card-text">{{el.text}}</p>
                      </div>
                      <div class="card-footer bg-transparent border-success">перейти на страницу</div>
                    </div>
                </div>
                {% endfor %}
            </div>







            <div class="col-5">
            <h2>About Me</h2>
            <p>Здраствуйте ,меня зовут Руслан я студент.
                В 2022 году поступил в Брянский Государственный Инженерно-Технический Университет (БГИТУ)
                в Инженерно-экономический институт по направлению Программная инженерия сокращённо ПИ
                на момент 13 декабря 2023 года я нахожусь на 2 курсе и пишу этот сайт в качестве своей курсовой работы.
            </p>
            </div>
        </div>
    </div>


    <h2>Comment</h2>
    <p>Feel free to leave a comment or feedback on my work. I appreciate any input that can help me improve and grow as a developer.</p>

  </div>


{% endblock %}