{% extends 'main/baze.html' %}
{% block title%}
    Главная страница
{% endblock %}
{% block content%}
     <nav class="navbar">
        <div class="nav">
            <a href="" class="nav-button">portfolio</a>
            <a href="{% url 'about' %}" class="nav-button">about me</a>
            <a href="" class="nav-button">contacts</a>
        </div>
        <div class="logo">
            <a href="{% url 'home' %}">portfolio</a>
        </div>
    </nav>
    <header class="justify-center">
        <div class="content col-5">
            <h1>about me</h1>
            <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Adipisci nihil excepturi
                quaerat error iste. Blanditiis v
                itae inventore culpa, ullam rem nulla commodi
                labore repudiandae consectetur?
            </p>
        </div>
        <div class="">
            <div class="img-content justify-center">
                <img src="static/main/img/Uj6Yd91AOxk.jpg" alt="photo">
            </div>
        </div>
    </header>
    <main class="justify-center">
        <div class="">
            <div class="img-content justify-center">
                <img src="static/main/img/Uj6Yd91AOxk.jpg" alt="photo">
            </div>
        </div>
        <div class="content col-5">
            <h1>portfolio</h1>
            <p>Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Adipisci nihil excepturi
                quaerat error iste. Blanditiis v
                itae inventore culpa, ullam rem nulla commodi
                labore repudiandae consectetur?Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Adipisci nihil excepturi
                quaerat error iste. Blanditiis v
                itae inventore culpa, ullam rem nulla commodi
                labore repudiandae consectetur?Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Adipisci nihil excepturi
                quaerat error iste. Blanditiis v
                itae inventore culpa, ullam rem nulla commodi
                labore repudiandae consectetur?
                Lorem ipsum dolor, sit amet consectetur
                adipisicing elit. Adipisci nihil excepturi
                quaerat error iste. Blanditiis v
                itae inventore culpa, ullam rem nulla commodi
                labore repudiandae consectetur?
            </p>
        </div>

    </main>
{% endblock %}