{% extends 'main/baze.html' %}
{% block title%}
    {{title}}
{% endblock %}
{% block content%}
<section class="justify-center row ">
    <div class="container ">
        <div class="col-6">
            <form action="" method="post" enctype="multipart/form-data" class="justify-content-between">
            {% csrf_token %}
                {{forma.as_p}}
                <span>{{error}}</span>
                <p><button type="submit">Отправить</button></p>
            </form>
        </div>
    </div>
</section>

{% endblock %}