{% load static %}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card--blur:not(:hover) img{
    filter: blur(5px);
}
.card--grayscale:not(:hover) img{
    filter: grayscale(1);
}
.card--sepia:not(:hover) img{
    filter: sepia(70%);
}
.card--brightness:not(:hover) img{
    filter: brightness(15%);
}
body {
  padding-top: 70px;
}
@media (max-width: 768px) {
  body {
    padding-top: 0;
  }
}
@media (max-width: 720px) {
            p {
                font-size: 8px;
            }
            h1{
                font-size: 11px;
                text-transform: uppercase;
            }
            h1,div{
                font-size: 12px;
            }
            h5{
                font-size: 9px;
            }
            body {
              padding-top: 25%;
            }
        }
.container img{
    width: 100%;
    height: 100%;
}
body{
    background-image: url("/static/main/img/f1.jpg");
    background-color: rgb(0, 33, 55);
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-attachment: fixed;

}
p,h1,h2:not(.card-text){
    color: rgb(180, 198, 222);
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    padding: 5px;
}
nav{

    text-shadow: 0 0 5px rgb(0, 64, 107);
}
.nav-link{
    color: rgb(0, 64, 107);
}
.navbar-light{
    background: rgba(0, 64, 107, 0.432);
}
.bg-light-l{
    background: rgba(0,95, 158, 0);
}
.bg-light-l1{
    background: rgba(0, 64, 107, 0.9);
    color: rgba(112, 112, 112, 1);
    border-color: rgba(112, 112, 112, 1);
}
.bg-light-l1:hover{
    background-color: rgba(112, 112, 112, 1);
    color: rgba(0, 64, 107, 0.9);
    border-color: rgba(112, 112, 112, 1);
}

a:not(.card-text){
    color: rgb(180, 198, 222);
    background: rgba(0, 0, 0, 0);
    border-radius: 6px;
    padding: 5px;
}