*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --p:#ff334e;
    --b:#020202;
    --r:#f8141b;
    --d-r:#a00711;
    --g:#50433a;
    --br:#33221b;
}
body{
    font-size: 12px;
    background: var(--g);
    line-height: 1.2;
    color: var(--b);

}
a{
    text-decoration: none;
    color: var(--b);
}
nav{
    background: var(--d-r);
}
.container{
    weight:100%;
    height:100%;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}
.nav{
    font-weight: 600;
    font-family: Merriweather;
    text-transform: capitalize;
    
}
.nav a+a{
    margin-left: 25px;
}
.nav-button{
    color: var(--b);
    padding: 12px 24px;
    border: 2px solid var(--b);
    border-radius: 10px;
}
.comment-button{
    color: var(--b);
    padding: 12px 24px;
    border: 2px solid var(--b);
    border-radius: 10px;
}
.comment-button:hover{
    color: var(--d-r);
    background: var(--r);
}
.nav-button:hover{
    color: var(--d-r);
    background: var(--r);
}

.logo{
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    border: 1px solid var(--d);

    position: relative;
    transition: box-shadow 1s ease-in-out;
}
.logo:hover {
  box-shadow: 0 0 25px var(--r);
}
header{
    width: 100%;
    height: 100%;
    background: var(--g);
    display: flex;
    justify-content: space-evenly;
}
.header-bg{
    background: var(--p);
    background-color: var(--r);
    background-blend-mode: multiply;
}
.content{
    padding: 25px; 
    justify-content: center;
    
}
.col-6{
    width: 50%;
}
.col-5{
    width: 41.666666666%;
}
.col-7{
    width: 58.333333333%;
}
.content h1{
    text-transform: uppercase;
    font-size: 18px;
    margin-bottom: 12px;
    font-weight: 400;
    text-align: center;
    padding-top: 15%;
    
}
.content p{
    font-size: 12px;
    font-weight: 300;
    line-height: 1.2;
}
.img-content{
    width: 200px;
    height: 100%;
    padding: 12px;
}
.img-content img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}
.justify-center{
    justify-content: center;
}
main{
    width:100%;
    height 100%;
    display:flex;
    background: var(--d-r);
}
footer{
    background:var(--br)
    width:100%;
    padding-top: 12px;
}
.logo-footer{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    padding:12px 24px;
    border-radius: 10%;
    border: 1px solid var(--d);

    position: relative;
    transition: box-shadow 1s ease-in-out;

}
.logo-footer:hover {
  box-shadow: 0 0 25px var(--);
  border-radius: 10%;
}
.comment {
      background-color: #f2f2f2;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
    }
section{
    background-color:var(--r);
    color:var(--d-r)
    padding-bottom:50px;

}